body{
 
  background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg')
  
 
}

.weaterWrapper{
  /* margin-left: 10rem; */
  display: flex;
  flex-direction: column;
  justify-content: center ;
}

.header{
  display: flex;
  justify-content: center;
  gap: 8rem;
}
.header h1{

  gap: 20rem;
}
.SearchFilter{
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 4rem 0;
 
}
.weatherCard{
  display: flex;
  justify-content: center;
}